@using System.Diagnostics

@{ var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion!.Split('+').First(); }

<div class="welcome-page">
    <h1><img src="~/icon.jpg"> 欢迎使用 <small class="text-muted">(Version @version)</small></h1>
    <ul>
        <li><a href="~/.well-known/openid-configuration">文档</a></li>
        <li>单击<a href="~/diagnostics">此处</a>查看您当前的会话。</li>
        <li>单击<a href="~/grants">此处</a>管理您存储的授权。</li>
        <li><a href="https://github.com/identityserver/IdentityServer4">源代码</a></li>
        <li><a href="https://github.com/IdentityServer/IdentityServer4/tree/main/samples">示例</a></li>
    </ul>
</div>
